video {width: 430px; margin: 10px;}
body {text-align: center; background-size: cover; background-repeat: no-repeat; background-position: center; height: 100vh; font-family: Arial, sans-serif; background-image: url('https://files.catbox.moe/sz2d4n.jpg');}
button {font-size: larger;}
